*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body, #root {
  margin: 0;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.bundles {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
}
.bundles__bundle {
  margin-bottom: 40px;
  border-bottom: 1px solid grey;
  display: grid;
}
.bundles__bundle article {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  position: relative;
}
.bundles__bundle article > p, .bundles__bundle article h1, .bundles__bundle article h2 {
  padding: 10px;
  margin: 10px 0;
}
.bundles__bundle article > img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
}
.bundles__bundle article.empty {
  background-color: #ffffff;
}
.bundles__bundle--single > :nth-child(1) {
  background-color: #28aae2;
}
.bundles__bundle--single > :nth-child(1) img {
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  float: left;
}
.bundles__bundle--single > :nth-child(1) h1 {
  font-size: 42px;
}
.bundles__bundle--double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.bundles__bundle--double h1 {
  font-size: 32px;
}
.bundles__bundle--double > :nth-child(1) {
  grid-column: 1;
  grid-row: 1/2;
}
.bundles__bundle--double > :nth-child(2) {
  grid-column: 2;
  grid-row: 1/2;
}
.bundles__bundle--double article img {
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bundles__bundle--triple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.bundles__bundle--triple h1 {
  font-size: 22px;
}
.bundles__bundle--triple article img {
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.bundles__bundle--triple > :nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/5;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.bundles__bundle--triple > :nth-child(1) h1 {
  font-size: 34px;
}
.bundles__bundle--triple > :nth-child(1) > img {
  max-height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.bundles__bundle--triple > :nth-child(2) {
  grid-column: 3;
  grid-row: 1/3;
  border-bottom: 1px solid grey;
}
.bundles__bundle--triple > :nth-child(3) {
  grid-column: 3;
  grid-row: 3/5;
}
.bundles__bundle--triple-flat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}
.bundles__bundle--triple-flat h1 {
  font-size: 22px;
}
.bundles__bundle--triple-flat > :nth-child(1) {
  grid-column: 1;
  grid-row: 1/4;
}
.bundles__bundle--triple-flat > :nth-child(2) {
  grid-column: 2;
  grid-row: 1/4;
}
.bundles__bundle--triple-flat > :nth-child(3) {
  grid-column: 3;
  grid-row: 1/4;
}
.bundles__bundle--triple-flat article {
  margin-bottom: 20px;
}
.bundles__bundle--triple-flat article img {
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.bundles__bundle--quadruple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.bundles__bundle--quadruple h1 {
  font-size: 20px;
}
.bundles__bundle--quadruple article img {
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.bundles__bundle--quadruple > :nth-child(1) {
  grid-column: 1/2;
  grid-row: 1;
  border-bottom: 1px solid grey;
}
.bundles__bundle--quadruple > :nth-child(2) {
  background-color: rgb(226, 226, 226);
  margin-bottom: 20px;
  grid-column: 2/4;
  grid-row: 1/4;
}
.bundles__bundle--quadruple > :nth-child(2) h1 {
  font-size: 32px;
}
.bundles__bundle--quadruple > :nth-child(2) img {
  max-height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.bundles__bundle--quadruple > :nth-child(3) {
  grid-column: 1/2;
  grid-row: 2;
  border-bottom: 1px solid grey;
}
.bundles__bundle--quadruple > :nth-child(4) {
  grid-column: 1/2;
  grid-row: 3;
  margin-bottom: 20px;
}